h1 {
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0
}
body {
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/171227101009-met-museum-new-york-city.jpg"); 
    background-attachment: fixed;
    background-size: cover;

}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
div {
    margin: 10px;
    background-color: lightyellow; 
    padding: 5px;
    width: 400px;
}
h2 {
    font-size: 15px;
    word-wrap:break-word;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    line-height: 1;
    margin: 10px;
    margin-bottom: 5px;
    display:table
}
img {
    width: 400px
}
input {
    width: 250px;
    height: 25px;
    font-size: 15px;
  
}
form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
.searchbar {
    background-color: white;
    width: 300px;
    height: 30px;
    border-color: red;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    background-color: red;
    width: 150px;
    margin-left: 10px;
    height:30px;
    border-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}
@media only screen and (max-width: 600px) {
    h1 {
        text-align: center; 
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        background-color: red;
        height: 50px;
        margin-bottom: 5px;
        margin-top: 5px;
        position: -webkit-sticky; 
        position: sticky;
        top: 0
    }
    h2 {
        font-size: 10px;
        word-wrap:break-word;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        line-height: 1;
        margin: 5px;
        margin-bottom: 5px;
        display:table;
        background-color: white;
    }
    img {
        width: 400px
    }
    input {
        width: 150px;
        height: 20px;
        font-size: 15px;
      
    }
    form {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }
    .searchbar {
        background-color: white;
        width: 200px;
        height: 20px;
        border-color: red;
        font-family: 'Times New Roman', Times, serif;
    }
    .button {
        background-color: red;
        width: 100px;
        margin-left: 10px;
        height:25px;
        border-color: red;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: white;
    }
    div {
        background-color: transparent;
    }
}   